/** @format */

.ch-global-container {
	background-color: #00364e !important;
}

.ch-header-container {
	width: 100%;
	max-width: 1140px;
	margin: auto;
	padding: 10px;
	display: flex;
	justify-content: space-between;

	align-items: center;
}

.ch-logo-container {
	width: 100%;
	max-width: 100px;
	padding: 3px;
}

.ch-main-logo {
	width: 100%;
}

.ch-main-menu {
	display: flex;
	margin-bottom: 0;
}

.ch-main-menu-container {
	display: flex;
	width: 100%;
	max-width: 500px;
	justify-content: space-between;
	padding-right: 30px;
	align-items: center;
	justify-content: flex-end;
}

.ch-menu-link {
	text-decoration: none !important;
	color: #ffffff;
	transition: 0.3s ease;
	font-size: 16px;
}

.ch-menu-link:hover {
	color: #b7b8b6;
	transition: 0.3s ease;
}

.ch-cart-btn {
	border: transparent;
	background-color: transparent;
	padding: 0;
}

.ch-cart-btn:hover {
	color: #b7b8b6;
	transition: 0.3s ease;
	border: transparent;
	background-color: transparent;
}

.ch-main-cart-icon {
	font-size: 15px;
	margin-right: 7px;
}

.ch-about-us-container {
	width: 100%;
	max-width: 950px;
	margin: auto;
	padding: 20px 0;
	text-align: center;
}

.ch-shop-container {
	padding-bottom: 10px;
	width: 100%;
	max-width: 1800px;
	margin: auto;
}

.ch-shop-img-container {
	text-align: center;
	text-align: center;
	padding: 10px 10px 30px;
}

.ch-shop-img {
	border-radius: 60px 6px 60px 6px;
	transition: 0.5s ease;
}

.ch-shop-img:hover {
	border-radius: 6px 60px 6px 60px;
	transition: 0.5s ease;
}

.size-modal-global-container .modal-content {
	border-radius: 20px;
	padding: 5px;
}

.size-modal-global-container .modal-header {
	border-bottom: 0;
	padding: 15px 20px 0;
}

.size-modal-global-container .modal-body {
	cursor: pointer;
	padding: 20px 20px 0;
}

.size-modal-global-container .modal-footer {
	padding: 5px 20px 20px;
	border-top: 0;
}

.shop-btn-container {
	text-align: center;
	margin: 25px 0 35px;
}

.shop-btn {
	color: #ffffff;
	font-weight: 600;
	font-size: 16px;
	background-color: #000000;
	transition: 0.5s ease;
	padding: 10px;
	border: 1px solid #000000;
	text-decoration: none !important;
	border-radius: 5px;
}

.shop-btn:hover {
	color: #000000;
	background-color: #ffffff;
	transition: 0.5s ease;
}

.ch-shop-global-container {
	width: 100%;
	max-width: 1140px;
	margin: auto;
	min-height: calc(100vh - 130px);
}

.ch-shop-main-title {
	margin-bottom: 0;
	text-align: center;
	margin-top: 15px;
	padding: 15px 0;
	font-size: 30px;
}

.ch-shop-main-container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	min-height: calc(100vh - 150px);
}

.ch-shop-main-subtitle {
	font-size: 35px;
	font-weight: 700;
}

.item-product-list-global-container {
	width: 100%;
}

.item-product-list-global-container {
	list-style: none;
	padding: 0;
	margin: 0;
}

.item-product-list {
	border: 1px solid #eee;
	border-radius: 10px;
	text-align: center;
	width: 100%;
	height: auto;
	margin: 15px 0;
	background-color: #fbfbfb;
	box-shadow: 0 7px 14px 0 rgb(151 160 204 / 12%);
}

.item-product-list-image {
	width: 100%;
	border-radius: 10px 10px 0 0;
}

.item-product-text-container {
	padding: 10px;
}

.item-product-id {
	font-size: 13px;
	font-style: italic;
	margin-bottom: 0;
	font-weight: 400;
}

.item-product-name {
	margin-bottom: 0;
	font-size: 20px;
	font-weight: 600;
	padding: 5px 0;
	overflow: hidden;
	max-height: 55px;
	min-height: 55px;
}

.item-product-category {
	margin-bottom: 0;
	font-size: 16px;
	font-weight: 400;
}

.item-product-stock {
	margin-bottom: 0;
	font-size: 16px;
	font-weight: 400;
}

.item-product-price {
	margin-bottom: 0;
	font-size: 18px;
	font-weight: 600;
}

.add-to-cart-button-container {
	margin: 5px 0 15px;
}

.add-to-cart-btn,
.add-to-cart-btn:hover {
	cursor: pointer;
	background-color: #00364e !important;
	color: #ffffff;
	border: 1px solid #00364e !important;
	border-radius: 5px;
	transition: 0.5s ease;
	padding: 5px 10px;
	font-size: 15px;
	font-weight: 600;
}

.item-product-cart-list-global-container {
	width: 100%;
	margin: auto;
	list-style: none;
	padding: 0;
}

.item-product-cart-list-main-container {
	margin: auto;
}

.item-product-cart-list {
	border: 1px solid #ddd;
	border-radius: 10px;
	text-align: center;
	width: 100%;
	height: auto;
	margin: 15px 0;
	background-color: #fbfbfb;
	min-height: 500px;
}

.item-product-cart-list-image {
	width: 100%;
	border-radius: 10px 10px 0 0;
}

.item-product-cart-text-container {
	padding: 10px 0;
}

.item-product-cart-id {
	font-size: 13px;
	font-style: italic;
	margin-bottom: 0;
	font-weight: 400;
}

.item-product-cart-name {
	margin-bottom: 0;
	font-size: 20px;
	font-weight: 600;
	padding: 5px 0;
}

.item-product-cart-category {
	margin-bottom: 0;
	font-size: 16px;
	font-weight: 400;
}

.item-product-cart-stock {
	margin-bottom: 0;
	font-size: 16px;
	font-weight: 400;
}

.item-product-cart-quantity {
	margin-bottom: 0;
	font-size: 16px;
	font-weight: 400;
}

.item-product-cart-unity-price {
	margin-bottom: 0;
	font-size: 18px;
	font-weight: 600;
}

.item-product-cart-list-quantity-add,
.item-product-cart-list-quantity-add:hover {
	cursor: pointer;
	background-color: #00364e !important;
	color: #ffffff;
	border: 1px solid #00364e !important;
	border-radius: 5px;
	transition: 0.5s ease;
	padding: 5px 10px;
	font-size: 15px;
	font-weight: 600;
}

.item-product-cart-list-quantity-delete,
.item-product-cart-list-quantity-delete:hover {
	cursor: pointer;
	background-color: #00364e !important;
	color: #ffffff;
	border: 1px solid #00364e !important;
	border-radius: 5px;
	transition: 0.5s ease;
	padding: 5px 13px;
	font-size: 15px;
	font-weight: 600;
}

.remove-item-cart-container {
	margin: 5px 0 15px;
}

.remove-item-cart,
.remove-item-cart:hover {
	cursor: pointer;
	background-color: #00364e !important;
	color: #ffffff;
	border: 1px solid #00364e !important;
	border-radius: 5px;
	transition: 0.5s ease;
	padding: 5px 10px;
	font-size: 15px;
	font-weight: 600;
}

#cartModal .modal-dialog {
	max-width: 800px;
}

#cartModal .modal-header {
	padding: 15px 30px;
	border-bottom: 0;
}

#cartModal .modal-title {
	font-size: 23px;
	font-weight: 600;
}

.ch-cart-quantity-global-container {
	display: flex;
	justify-content: space-between;
	padding: 20px 35px;
	align-items: center;
}

.quantity-products-list {
	font-size: 21px;
	font-weight: 400;
}

.total-products-list {
	font-size: 21px;
	font-weight: 400;
}

.ch-cart-quantity-button-container {
	width: 100%;
	max-width: 290px;
	display: flex;
	justify-content: space-between;
}

#clearCart,
#clearCart:hover {
	cursor: pointer;
	background-color: #00364e !important;
	color: #ffffff;
	border: 1px solid #00364e !important;
	border-radius: 5px;
	transition: 0.5s ease;
	padding: 5px 10px;
	font-size: 15px;
	font-weight: 600;
}

#finishCart,
#finishCart:hover {
	cursor: pointer;
	background-color: #00364e !important;
	color: #ffffff;
	border: 1px solid #00364e !important;
	border-radius: 5px;
	transition: 0.5s ease;
	padding: 5px 10px;
	font-size: 15px;
	font-weight: 600;
}

.ch-empty-cart-global-container {
	min-height: calc(100vh - 280px);
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.ch-empty-cart-icon {
	font-size: 45px;
	cursor: pointer;
	color: #00364e !important;
	transition: 0.5s ease;
}

.ch-empty-cart-icon:hover {
	color: #b7b8b6;
	transition: 0.5s ease;
}

.ch-empty-cart-title {
	font-size: 24px;
	margin-bottom: 0;
	padding-bottom: 5px;
}

.ch-empty-cart-subtitle {
	margin-bottom: 0;
	font-size: 24px;
}

#stockModal .modal-dialog {
	max-width: 800px;
}

#stockModal .modal-header {
	padding: 15px 20px 0;
	border-bottom: 0;
}

#stockModalLabel {
	font-size: 22px;
}

#stockModal .modal-body {
	min-height: calc(100vh - 320px);
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.modal-stock-title {
	margin-bottom: 0;
	font-size: 25px;
	padding-bottom: 5px;
}

.modal-stock-subtitle {
	margin-bottom: 0;
	font-size: 25px;
}

#stockModal .modal-footer {
	border-top: 0;
	padding: 0 25px 15px;
}

.stock-modal-button {
	background-color: #000000;
	color: #ffffff;
	border: 1px solid #000000;
	border-radius: 5px;
	transition: 0.5s ease;
	padding: 5px 10px;
	font-size: 15px;
	font-weight: 600;
}

.stock-modal-button:hover {
	border: 1px solid #000000;
	background-color: #ffffff;
	color: #000000;
	transition: 0.5s ease;
}

#purchaseModal .modal-dialog {
	max-width: 800px;
}

#purchaseModal .modal-header {
	padding: 15px 20px 0;
	border-bottom: 0;
}

#purchaseModalLabel {
	font-size: 22px;
}

#purchaseModal .modal-body {
	min-height: calc(100vh - 320px);
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.ch-purchase-modal-global-container {
	width: 100%;
}

.ch-purchse-title {
	margin-bottom: 0;
	padding-bottom: 15px;
	font-size: 25px;
}

#purchaseModal #email_user {
	width: 100%;
	max-width: 500px;
	border: 1px solid #00364e !important;
	border-radius: 5px;
}

#purchaseModal .modal-footer {
	padding: 0 20px 15px;
	border-top: 0;
}

.purchase-modal-button,
.purchase-modal-button:hover {
	background-color: #00364e !important;
	color: #ffffff;
	border: 1px solid #00364e !important;
	border-radius: 5px;
	transition: 0.5s ease;
	padding: 5px 10px;
	font-size: 15px;
	font-weight: 600;
}

#successModal .modal-dialog {
	max-width: 800px;
}

#successModal .modal-header {
	padding: 15px 20px 0;
	border-bottom: 0;
}

#successModal .modal-dialog {
	max-width: 800px;
}

#successModal .modal-body {
	min-height: calc(100vh - 320px);
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.ch-success-title {
	margin-bottom: 0;
	font-size: 25px;
	padding-bottom: 5px;
}

.ch-success-subtitle {
	margin-bottom: 0;
	font-size: 25px;
}

#successModal .modal-footer {
	padding: 0 20px 15px;
	border-top: 0;
}

.success-modal-button,
.success-modal-button:hover {
	background-color: #00364e !important;
	color: #ffffff;
	border: 1px solid #00364e !important;
	border-radius: 5px;
	transition: 0.5s ease;
	padding: 5px 10px;
	font-size: 15px;
	font-weight: 600;
}

footer {
	width: 100%;
	background-color: #00364e !important;
	color: #ffffff;
}

.ch-footer-container-one {
	padding-bottom: 20px;
}

.ch-footer-container-two {
	padding-bottom: 10px;
}

.ch-footer-menu-link-title {
	margin-bottom: 0;
	font-size: 16px;
	font-weight: 700;
	padding-bottom: 10px;
}

.ch-footer-menu-link {
	text-decoration: none !important;
	color: #ffffff;
	transition: 0.3s ease;
	cursor: pointer;
}

.ch-footer-menu-link:hover {
	color: #b7b8b6;
	transition: 0.3s ease;
}

.ch-footer-menu-link p {
	margin-bottom: 0;
	font-size: 16px;
	font-weight: 200;
	padding-bottom: 5px;
}

.ch-footer-img-title-container {
	display: flex;
	align-items: center;
}

.ch-footer-menu-info-title {
	margin-bottom: 0;
	font-size: 16px;
	font-weight: 700;
	padding-bottom: 10px;
}

.ch-footer-menu-info {
	margin-bottom: 0;
	font-size: 16px;
	font-weight: 200;
	padding-bottom: 5px;
}

.ch-footer-img-container {
	width: 100%;
	max-width: 70px;
}

.ch-footer-logo {
	width: 100%;
}

.ch-footer-title {
	margin-bottom: 0;
	padding-left: 10px;
}

.ch-footer-text-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.ch-footer-subtitle {
	margin-bottom: 0;
}

.rrss-container {
	width: 100%;
	max-width: 100px;
	display: flex;
	justify-content: space-between;
}

.ch-footer-rrss-link {
	color: #ffffff;
	transition: 0.3s ease;
}

.ch-footer-rrss-link:hover {
	color: #b7b8b6;
	transition: 0.3s ease;
}

.ch-footer-main-container {
	width: 100%;
	max-width: 1140px;
	margin: auto;
	padding: 10px;
}

.ch-footer-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
